<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [ ]:
# Nama
print ("Hello, my name is miguel")

nama = "miguel"
print("Hello, my name is "+ nama)
print("Hello, my name is", nama)

kalimat = "Hello, my name is {}".format(nama)
print(kalimat)

Hello, my name is miguel
Hello, my name is miguel
Hello, my name is miguel
Hello, my name is miguel

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [ ]:
# Soal a
a = (4*15)/12
print(a "")

# Soal b
b = 8**(1/3)
print (b)

# Soal c
c = 50000 / 7500
print (int(c))

cc = 50000 -(int(c)*7500)
print(cc)

5.0
2.0
6
5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [ ]:
# Konversi
a = "1000"
b = int(a)
print (b, int)

x = 5.25
y = int(x)
print (y, int)

c = 5
d = float(c)
print(d, float)

e = 1000
f = str(e)
print (f, str)

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [ ]:
# 1
stringg = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
sub_stringg = stringg[20:31]
print(sub_stringg)


# 2
stringg = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
kata_kata = list (stringg.split())

print(kata_kata)


# 3
stringg = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
stringg_balik = stringg[::-1]

print(stringg_balik)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [ ]:
# Fakultas
fakultas = (
    "School of Business and Management",
    "School of Creative Industry",
    "School of Tourism",
    "School of Information Technology",
    "School of Medicine",
    "School of Dental Medicine",
    "School of Psychology",
    "School of Communication Science and Media Business",
    "School of Enrepreneurship and Humanities"
)
print(fakultas)

print("Jumlah fakultas:", len(fakultas))

posisi = fakultas.index("School of Information Technology")
print("Posisi 'School of Information Technology'indeks ke :", posisi)

('School of Business and Management', 'School of Creative Industry', 'School of Tourism', 'School of Information Technology', 'School of Medicine', 'School of Dental Medicine', 'School of Psychology', 'School of Communication Science and Media Business', 'School of Enrepreneurship and Humanities')
Jumlah fakultas: 9
Posisi 'School of Information Technology'indeks ke : 3

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [ ]:
# 1
favorit = ["Nasi", "Telor", "Indomi"]
print(favorit)


# 2
favorit = ["Nasi", "Telor", "Indomi"]
for makanan in favorit:
    print(makanan)

# 3
for makanan in favorit:
    print("Aku ingin pesan {}".format(makanan))

# 4
favorit[1] = "Somay"
print(f"Aku ingin mengganti pesananku telor jadi {favorit[1]}")
print (favorit)

['Nasi', 'Telor', 'Indomi']
Nasi
Telor
Indomi
Aku ingin pesan Nasi
Aku ingin pesan Telor
Aku ingin pesan Indomi
Aku ingin mengganti pesananku telor jadi Somay
['Nasi', 'Somay', 'Indomi']

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [ ]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

print("Set 1:", set1)
print("Set 2:", set2)
print("Set 3:", set3)
print("Set 4:", set4)


# 2
gabung = set1.union(set2)
print ("gabungan set 1 dan set 2 tanpa duplicate adalah",gabung)

# 3
intersection = bool(set1 & set3)
print (intersection)


# 4
is_subset = bool(set4.issubset(set1))
print (is_subset)

Set 1: {1, 2, 3, 4}
Set 2: {8, 2, 4, 6}
Set 3: {5, 7}
Set 4: {2, 3}
gabungan set 1 dan set 2 tanpa duplicate adalah {1, 2, 3, 4, 6, 8}
False
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [ ]:
# Program Bayar Listrik
penggunaan = float(input("Masukkan jumlah penggunaan listrik (kWh): "))
if penggunaan < 100:
  penggunaan = 100

if penggunaan < 1000:
  tarif = 1000
  total_bayar = penggunaan* tarif

else:
  tarif = 2000
  total_bayar = penggunaan * tarif
  total_bayar += total_bayar * 0.10

print(f"Tarif yang harus dibayar: Rp{total_bayar:.2f}")

Masukkan jumlah penggunaan listrik (kWh): 2000
Tarif yang harus dibayar: Rp4400000.00

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [3]:
# Program Angkot Abdimas UC

# Meminta input dari pengguna
jumlah_peserta = int(input("Masukkan jumlah peserta: "))
if jumlah_peserta < 0:
      print("Jumlah orang tidak bisa negatif!")
else:
        kapasitas_angkot = 10
        jumlah_angkot = (jumlah_peserta // kapasitas_angkot) + (1 if jumlah_peserta % kapasitas_angkot != 0 else 0)

        print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

Masukkan jumlah peserta: 12
Jumlah angkot yang diperlukan: 2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [4]:
import numpy as np

# 1
hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])
print(hari)

['Senin' 'Selasa' 'Rabu' 'Kamis' 'Jumat' 'Sabtu' 'Minggu']

In [5]:
# 2
hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])
hari_sorted = np.sort(hari)

print(hari_sorted)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [7]:
# 3
hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])
random = np.random.choice(hari)
print(f"Selamat hari {random} adalah hari baikmu bulan ini!")

Selamat hari Minggu adalah hari baikmu bulan ini!

In [9]:
# 4
import numpy as np

matriks = np.random.randint(1, 7, size=(3, 4))

print("Matriks 3x4:")
print(matriks)

print("Shape:", matriks.shape)
print("Dimensi:", matriks.ndim)

Matriks 3x4:
[[4 6 5 6]
 [5 6 4 1]
 [2 1 5 5]]
Shape: (3, 4)
Dimensi: 2

In [10]:
# 5
import numpy as np
matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])

kolom_ketiga = matriks[:, 2]
print("Elemen kolom ketiga:", kolom_ketiga)

Elemen kolom ketiga: [ 3  7 11]

In [11]:
# 6
import numpy as np

matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])


matriks_reshaped = matriks.reshape(2, 6)

print("Matriks yang telah direshape (2, 6):")
print(matriks_reshaped)

Matriks yang telah direshape (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [14]:
import pandas as pd

# 1
data_list = ["Information", "Systems", "for", "Business"]
series = pd.Series(data_list)
print
print("Pandas Series:")
print(series)

# 2
data_dict = { "brand": "Ford", "model": "Mustang", "year": 1964 }
dataframe = pd.DataFrame([data_dict])

print("\nPandas DataFrame:")
print(dataframe)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame:
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [15]:
# 3
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls'
dataframe = pd.read_csv(url)
print(dataframe.head())

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [18]:
# 4
kota_unik = dataframe['State'].unique()
print("Kota yang ada dalam dataset:", kota_unik)

Kota yang ada dalam dataset: ['New York' 'California' 'Florida']

In [21]:
# 5
dataset_random = dataframe.sample(n=10, random_state=1)
print("\n5 row pertama dari dataset baru:")
print(dataset_random.head())

5 row pertama dari dataset baru:
    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [23]:

# 6

print("\nInformasi singkat dari dataframe:")
print(dataframe.info())

Informasi singkat dari dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [25]:

# 7
california_data = dataframe[dataframe['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print("\n'R&D Spend' dan 'Marketing Spend' dari kota 'California':")
print(california_data)

'R&D Spend' dan 'Marketing Spend' dari kota 'California':
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [27]:
# 8
missing_values = dataframe.isnull().sum()
print("\nMissing values di setiap kolom:")
print(missing_values)

Missing values di setiap kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [29]:
# 9
dataframe_dropped = dataframe[dataframe['Profit'] >= 50000]

In [30]:

# 10
dataframe_sorted = dataframe_dropped.sort_values(by='Marketing Spend', ascending=False)

print("\nDataFrame setelah di-drop dan diurutkan:")
print(dataframe_sorted.head())

DataFrame setelah di-drop dan diurutkan:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [38]:
# 1
import pandas as pd
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv'
dataframe = pd.read_csv(url)

In [40]:
# 2
random_data = dataframe.sample(n=10, random_state=1)
print("10 Data Random dari Dataset:")
print(random_data)

10 Data Random dari Dataset:
      No  X1 transaction date  X2 house age  \
388  389             2013.500          10.4
102  103             2013.083           1.1
187  188             2013.000           8.9
162  163             2012.750          16.0
90    91             2012.833           0.0
398  399             2013.417          14.7
295  296             2013.167          18.2
397  398             2013.417          13.1
17    18             2012.750          17.7
58    59             2013.500          30.3

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
388                               2251.9380                                4
102                                193.5845                                6
187                               3078.1760                                0
162                               4066.5870                                0
90                                 274.0144                                1
398                               1717.1930                                2
295                               2179.5900                                3
397                               1164.8380                                4
17                                 350.8515                                1
58                                4510.3590                                1

     X5 latitude  X6 longitude  Y house price of unit area
388     24.95957     121.51353                        27.3
102     24.96571     121.54089                        54.4
187     24.95464     121.56627                        22.0
162     24.94297     121.50342                        11.6
90      24.97480     121.53059                        45.4
398     24.96447     121.51649                        23.0
295     24.96299     121.51252                        21.8
397     24.99156     121.53406                        32.2
17      24.97544     121.53119                        37.4
58      24.94925     121.49542                        22.6

In [42]:

# 3
print("\nInformasi Deskriptif dari Dataset:")
print(dataframe.describe())

Informasi Deskriptif dari Dataset:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [43]:


# 4
dataframe = dataframe.drop(columns=['No'])
dataframe.columns = [
    'transaction_date',
    'house_age',
    'distance_to_the_nearest_MRT_station',
    'number_of_convinience_stores',
    'latitude',
    'longitude',
    'house_price_of_unit_area'
]

In [44]:


# 5
missing_values = dataframe.isnull().sum()
print("\nMissing Values di Setiap Kolom:")
print(missing_values)

Missing Values di Setiap Kolom:
transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64